<section
  class="relative w-full bg-[url('/img/background-aboutnew.jpg')] bg-cover bg-center px-[5%] pb-36 pt-14"
>
  <div
    class="mt-6 rounded-2xl border border-white bg-white/[.01] pb-20 pt-8 shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[18px]"
  >
    <div class="mx-auto mb-6 w-1/2 text-slate-200">
      <h1 class="my-6 text-balance text-center text-5xl font-medium">
        Make Your Products Organized Well and Done.
      </h1>
      <p class="text-center text-sm">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        dignissimos, reiciendis tenetur velit temporibus architecto, fuga,
        voluptate minus ratione officia odit eaque accusamus?
      </p>
    </div>

    <div
      class="mx-auto my-10 mt-20 grid max-w-[80%] grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 md:space-y-0 lg:grid-cols-3"
    >
      <div
        class="folder relative max-h-52 min-h-44 w-full rounded-[25px] rounded-tl-[5px] bg-slate-200 drop-shadow-[0_0_0.4rem_grey] transition-all duration-300 ease-out hover:scale-110"
      >
        <div
          class="ml-6 mt-3 grid size-10 place-items-center rounded-full bg-violet-600"
        >
          <i class="bi bi-dpad block text-white"></i>
        </div>
        <h2 class="px-4 font-semibold">Centralized Controls</h2>
        <p class="mt-4 px-4 pb-4 text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          iusto exercitationem repellat corrupti voluptatem velit perferendis
          voluptates magni non nesciunt!
        </p>
      </div>
      <div
        class="folder relative max-h-52 min-h-44 w-full rounded-[25px] rounded-tl-[5px] bg-slate-200 drop-shadow-[0_0_0.4rem_grey] transition-all duration-300 ease-out hover:scale-110"
      >
        <div
          class="ml-6 mt-3 grid size-10 place-items-center rounded-full bg-violet-600"
        >
          <i class="bi bi-kanban block text-white"></i>
        </div>
        <h2 class="px-4 font-semibold">Garments Managements</h2>
        <p class="mt-4 px-4 pb-4 text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          iusto exercitationem repellat corrupti voluptatem velit perferendis
          voluptates magni non nesciunt!
        </p>
      </div>
      <div
        class="folder relative max-h-52 min-h-44 w-full rounded-[25px] rounded-tl-[5px] bg-slate-200 drop-shadow-[0_0_0.4rem_grey] transition-all duration-300 ease-out hover:scale-110"
      >
        <div
          class="ml-6 mt-3 grid size-10 place-items-center rounded-full bg-violet-600"
        >
          <i class="bi bi-people-fill block text-white"></i>
        </div>
        <h2 class="px-4 font-semibold">Multi-User Support</h2>
        <p class="mt-4 px-4 pb-4 text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          iusto exercitationem repellat corrupti voluptatem velit perferendis
          voluptates magni non nesciunt!
        </p>
      </div>
    </div>
  </div>
  <span
    class="absolute bottom-0 left-0 right-0 inline-block h-36 w-full bg-gradient-to-t from-black from-20% to-transparent to-70% mix-blend-multiply"
  ></span>
</section>

<section
  class="relative z-[1] bg-[url('/img/circle-scatter-haikei.png')] bg-cover bg-fixed bg-center bg-no-repeat px-[7%] pb-40 pt-40 text-slate-200 before:absolute before:left-0 before:top-0 before:h-20 before:w-full before:bg-gradient-to-b before:from-black before:from-20% before:to-transparent before:to-80% after:absolute after:inset-0 after:z-[-1] after:backdrop-blur-3xl after:content-['']"
>
  <div class="mx-auto w-1/2 text-center">
    <h1
      class="my-6 text-balance text-center text-5xl font-medium capitalize text-slate-200"
    >
      Start to Simplify Your life with Alhambre products manager
    </h1>
    <p class="text-center text-xl font-light text-slate-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      quasi architecto excepturi alias hic ea mollitia assumenda sapiente
      dolorum quae?
    </p>
  </div>

  <div
    class="mx-auto mt-20 flex items-center justify-center gap-10 text-center text-white"
  >
    <a
      href="/products"
      class="group relative grid h-10 w-32 place-items-center rounded-full border-white bg-gradient-to-br from-pink-600 to-violet-600 hover:bg-gradient-to-tl hover:shadow-lg hover:shadow-pink-700/70"
    >
      <span
        class="absolute inset-[2px] grid place-items-center rounded-full bg-black opacity-100 transition-all duration-[150ms] ease-linear group-hover:opacity-0"
        >Get Started</span
      >
      Get Started
    </a>
    <a
      href="mailto:miramadhan354@gmail.com"
      target="_blank"
      class="group relative grid h-10 w-32 place-items-center rounded-full border-2 border-orange-200 shadow-md shadow-orange-200/60 hover:border-none hover:shadow-none"
    >
      <span
        class="absolute inset-px grid place-items-center rounded-full bg-gradient-to-br from-orange-300 to-pink-500 opacity-0 transition-all duration-[150ms] ease-in group-hover:opacity-100"
        >Contact Us</span
      >
      Contact Us
    </a>
  </div>
</section>

<section
  class="relative flex h-20 w-full items-center overflow-hidden bg-violet-500 text-slate-200 shadow-lg shadow-violet-600/50"
>
  <ul
    class="absolute flex animate-marquee list-disc items-center justify-center space-x-16 overflow-hidden"
  >
    <li class="relative text-4xl uppercase text-slate-50">Competent</li>
    <li class="relative text-4xl uppercase text-slate-50">Magistic</li>
    <li class="relative text-4xl uppercase text-slate-50">Psychological</li>
    <li class="relative text-4xl uppercase text-slate-50">Creative</li>
    <li class="relative text-4xl uppercase text-slate-50">Thriller</li>
  </ul>
</section>

<section class="bg-slate-950 px-[7%] pt-20 text-slate-200">
  <div class="grid grid-cols-5 gap-8">
    <div class="col-span-2">
      <div class="flex items-center gap-x-4">
        <img
          src="/img/Arμ's  Logo (Resized).png"
          alt="My's Logo"
          class="size-12"
        />
        <h2 class="font-poppins text-4xl">Arμ's</h2>
      </div>
      <p class="mt-4 w-3/4">
        Join Our Newslatter to get more information, ads, and updates. We only
        send one issue each month, so we try to make it useful.
      </p>
      <div class="mt-8 w-3/4">
        <form
          action="#_"
          class="flex w-full justify-between rounded-full bg-zinc-500/30 p-[3px] text-sm ring-2 ring-zinc-200/30"
        >
          <input
            type="email"
            class="flex-grow bg-transparent px-4 outline-none focus:border-none"
            placeholder="Enter your email"
          />
          <button
            type="submit"
            class="flex-shrink rounded-full bg-violet-800 px-8 py-2 hover:bg-purple-700 hover:shadow-md hover:shadow-purple-700/70"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>

    <div class="font-poppins">
      <h3 class="text-lg font-medium uppercase tracking-wide">Company</h3>
      <ul class="mt-4 space-y-2">
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >How it Work</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Features</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Pricing</a
          >
        </li>
      </ul>
    </div>

    <div class="font-poppins">
      <h3 class="text-lg font-medium uppercase tracking-wide">Solutions</h3>
      <ul class="mt-4 space-y-2">
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Security</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Device Integration</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Automation</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Energy Management</a
          >
        </li>
      </ul>
    </div>

    <div class="font-poppins">
      <h3 class="text-lg font-medium uppercase tracking-wide">Help</h3>
      <ul class="mt-4 space-y-2">
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Customer Support</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >FAQ's</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Term & Conditions</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm font-light tracking-wider hover:text-violet-400"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="mt-14 flex items-center justify-between border-t-2 border-zinc-200/30 py-10"
  >
    <p>
      &copy; 2024 Alhambre | Developed by Araya Musawwah, All Rights Reserved.
    </p>
    <div class="inline-flex space-x-6 justify-self-end">
      <a
        href="https://github.com/Arμs"
        target="_blank"
        class="group grid size-11 scale-100 place-items-center rounded-full ring-1 ring-zinc-200/30 transition-all duration-500 ease-out hover:ring-0"
        ><i
          class="fa-brands fa-twitter text-xl transition-all group-hover:scale-[1.75]"
        ></i
      ></a>
      <a
        href="https://twitter.com/Arμs"
        target="_blank"
        class="group grid size-11 scale-100 place-items-center rounded-full ring-1 ring-zinc-200/30 transition-all duration-500 ease-out hover:ring-0"
        ><i
          class="fa-brands fa-linkedin text-xl transition-all group-hover:scale-[1.75]"
        ></i
      ></a>
      <a
        href="https://github.com/Arμs"
        target="_blank"
        class="group grid size-11 scale-100 place-items-center rounded-full ring-1 ring-zinc-200/30 transition-all duration-500 ease-out hover:ring-0"
        ><i
          class="fa-brands fa-facebook text-xl transition-all group-hover:scale-[1.75]"
        ></i
      ></a>
      <a
        href="https://twitter.com/Arμs"
        target="_blank"
        class="group grid size-11 scale-100 place-items-center rounded-full ring-1 ring-zinc-200/30 transition-all duration-500 ease-out hover:ring-0"
        ><i
          class="fa-brands fa-github text-xl transition-all group-hover:scale-[1.75]"
        ></i
      ></a>
    </div>
  </div>
</section>
