<aside
  class="aside fixed z-50 -ml-72 flex h-full min-h-svh w-72 flex-col border-r-2 border-slate-700 bg-slate-900 text-white transition-all duration-500"
>
  <div class="mx-auto">
    <img
      src="/img/Arμ's  Logo (Resized).png"
      alt="My's Logo"
      class="mx-auto my-8 size-28"
    />
    <h1 class="text-center text-2xl font-bold">Araya Musawwah</h1>
  </div>

  <hr class="my-6 w-full border-b-2 border-slate-700" />
  <nav class="mx-auto mt-4 h-full w-full px-2">
    <ul class="flex flex-col justify-center space-y-8">
      <li class="w-full">
        <a
          href="/"
          class="block w-full self-baseline py-2 text-center text-lg font-semibold capitalize tracking-wide hover:bg-slate-700"
          >Home</a
        >
      </li>
      <li class="w-full">
        <a
          href="/about"
          class="block w-full self-baseline py-2 text-center text-lg font-semibold capitalize tracking-wide hover:bg-slate-700"
          >About</a
        >
      </li>
      <li class="w-full">
        <a
          href="/products"
          class="block w-full self-baseline py-2 text-center text-lg font-semibold capitalize tracking-wide hover:bg-slate-700"
          >Products</a
        >
      </li>
      <li class="w-full">
        <a
          href="/garments"
          class="block w-full self-baseline py-2 text-center text-lg font-semibold capitalize tracking-wide hover:bg-slate-700"
          >Garments</a
        >
      </li>
    </ul>
  </nav>
  <div class="mx-auto space-x-2 justify-self-end pb-2 pt-8">
    <a href="https://github.com/Arμs" target="_blank"
      ><i
        class="fa-brands fa-twitter text-xl transition-all hover:scale-150"
      ></i
    ></a>
    <a href="https://twitter.com/Arμs" target="_blank"
      ><i
        class="fa-brands fa-linkedin text-xl transition-all hover:scale-150"
      ></i
    ></a>
    <a href="https://github.com/Arμs" target="_blank"
      ><i
        class="fa-brands fa-facebook text-xl transition-all hover:scale-150"
      ></i
    ></a>
    <a href="https://twitter.com/Arμs" target="_blank"
      ><i class="fa-brands fa-github text-xl transition-all hover:scale-150"></i
    ></a>
  </div>
  <span class="pb-6 text-center text-xs font-thin text-slate-200"
    >2024 &#64;Arμ's</span
  >
</aside>
